a:hoover {
    color: red;
}

#pageTitle {
    font-family: sans-serif;

}

#bestSellers {
    color: white;
    background-color: black;
}

#titleList {
    color: gray;
    font-size: xx-large;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
}

.tarjetas-container, .book-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.tarjeta, .book-detail {
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tarjeta h3 {
    margin: 10px 0;
    font-size: 18px;
}

.tarjeta p {
    margin: 10px 0;
    color: #666;
}

.img_width {
    width: 65%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.buttonAmazon {
    color: white;
    background-color: orange;
}

.buttonAmazon:hover {
    background-color: #e88e00;
}

.buttonBack {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.titleBook {
    font-family: sans-serif;
    color:#666;
}


/* Estilos para el loader */
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid orange;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
